<template>
  <v-app style="background-color:white; color:darkred">
    <v-main>
      <v-container>
        <Nuxt />
      </v-container>
    </v-main>
  </v-app>
</template>

<script>
export default {
  name: 'DefaultLayout',
  data() {
    return {
      clipped: false,
      fixed: false,
      title: 'Espia Aí Admin',
    }
  },
}
</script>
