<template>
  <v-data-table
    :headers="headers"
    :items="employees"
    sort-by="id"
    class="elevation-1"
    :loading="loading"
  >
    <template #top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Gerenciar Funcionários</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              novo funcionário
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.name"
                      label="Nome"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.role_id"
                      label="ID do cargo"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.school_id"
                      label="ID da escola"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.is_teacher"
                      label="É professor?"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.username"
                      label="Nome de usuário"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.password"
                      label="Senha"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.matriculation_number"
                      label="Número de matrícula"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-file-input
                      show-size
                      label="Foto"
                      accept="image/*"
                      @change="selectImage"
                    ></v-file-input>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.email"
                      label="Email"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.phone"
                      label="Telefone"
                    ></v-text-field>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="600px">
          <v-card>
            <v-card-title class="text-h5">Tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #[`item.visualize`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click=redirect(item)
      >
        mdi-eye
      </v-icon>
    </template>
    <template #[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template #no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "EmployeesPage",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    error: false,
    loading: true,
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'id',
      },
      { text: 'ID do cargo', value: 'role_id' },
      { text: 'ID da escola', value: 'school_id' },
      { text: 'Nome', value: 'name' },
      { text: 'É professor?', value: 'is_teacher' },
      { text: 'Nome de Usuário', value: 'username' },
      { text: 'Senha', value: 'password' },
      { text: 'Número de matrícula', value: 'matriculation_number' },
      { text: 'Email', value: 'email' },
      { text: 'Telefone', value: 'phone' },
      { text: 'Foto', value: 'visualize' },
      { text: 'Ações', value: 'actions', sortable: false },
    ],
    employees: [],
    editedIndex: -1,
    editedItem: {
      name: '',
      role_id: 0,
      school_id: 0,
      is_teacher: 0,
      username: '',
      password: '',
      matriculation_number: '',
      photo: '',
      email: '',
      phone: '',
    },
    defaultItem: {
      name: '',
      role_id: 0,
      school_id: 0,
      is_teacher: 0,
      username: '',
      password: '',
      matriculation_number: '',
      photo: '',
      email: '',
      phone: '',
    },
  }),

  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Novo Funcionário' : 'Editar Funcionário'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  created () {
    this.initialize()
    console.log(this.employees)
  },
  methods: {
    async initialize () {
      try{
        this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        const {data} = await this.$axios.get('api/employee')
        if (data.length){
          this.employees = data
        }else if (data.length === 0){
          this.employees = []
        }else{
          this.employees = {data}
        }
        this.loading = false
      }
      catch(e){
        this.errorr = e
        // await this.$router.push('/')
      }
    },
    selectImage(image){
      this.editedItem.photo = image;
    },
    editItem (item) {
      this.editedIndex = this.employees.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      this.editedIndex = this.employees.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      this.employees.splice(this.editedIndex, 1)
      try{
        await this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        await this.$axios.delete('api/employee/' + this.editedItem.id)
      }
      catch(e){
        this.errorr = e
        this.errorr = true
        window.setInterval(() => {
          this.errorr = false;
        }, 5000)
      }
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async redirect(item) {
      await console.log(item)
      if (item.photo !== null){
        window.open('http://159.203.189.157/storage/'+ item.photo);
      }
    },

    async save () {
      if (this.editedIndex > -1) {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const formData = new FormData();
          formData.append("photo", this.editedItem.photo);
          formData.append('name', this.editedItem.name);
          formData.append('role_id', this.editedItem.role_id);
          formData.append('school_id', this.editedItem.school_id);
          formData.append('is_teacher', this.editedItem.is_teacher);
          formData.append('username', this.editedItem.username);
          formData.append('password', this.editedItem.password);
          formData.append('email', this.editedItem.email);
          formData.append('matriculation_number', this.editedItem.matriculation_number);
          formData.append('phone', this.editedItem.phone);
          formData.append('_method', 'patch');
          const response = await this.$axios.post('api/employee/' + this.editedItem.id, formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            }})
          Object.assign(this.employees[this.editedIndex], response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      } else {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const formData = new FormData();
          formData.append("photo", this.editedItem.photo);
          formData.append('name', this.editedItem.name);
          formData.append('role_id', this.editedItem.role_id);
          formData.append('school_id', this.editedItem.school_id);
          formData.append('is_teacher', this.editedItem.is_teacher);
          formData.append('username', this.editedItem.username);
          formData.append('password', this.editedItem.password);
          formData.append('email', this.editedItem.email);
          formData.append('matriculation_number', this.editedItem.matriculation_number);
          formData.append('phone', this.editedItem.phone);
          const response = await this.$axios.post('api/employee', formData)
          this.employees.push(response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      }
      this.close()
    },
  },
}
</script>
