<template>
  <v-container style="width: 50%">
    <v-layout justify-center align-center>
      <v-flex shrink style="padding-bottom: 50px; padding-top: 50px">
        <v-img
          :lazy-src="require('@/assets/logoEetepa.png')"
          :src="require('@/assets/logoEetepa.png')"
          max-height="150"
          max-width="250"
        >
        </v-img>
      </v-flex>
    </v-layout>
    <v-form>
      <v-text-field
        v-model="user.email"
        type="email"
        light
        prepend-inner-icon="mdi-email-outline"
        label="E-mail"
        outlined
      />
      <v-text-field
        v-model="user.password"
        label="Senha"
        light
        :append-icon="value ? 'mdi-eye-off' : 'mdi-eye'"
        prepend-inner-icon="mdi-lock-outline"
        outlined
        :type="value ? 'password' : 'text'"
        @click:append="() => (value = !value)"
      />
    </v-form>
    <v-btn type="submit" class="white--text mb-5" color="red" width="100%" @click="login">
      Login
    </v-btn>
    <v-alert v-if="erro" type="error">
      {{"Credenciais inválidas"}}
    </v-alert>
  </v-container>
</template>

<script>
export default {
  name: 'IndexPage',
  title: 'Login',
  layout: 'authentication',
  data: () =>({
    user: {
      email: '',
      password: '',
      device_name: 'web',
    },
    value: true,
    erro: ''
  }),

  async mounted(event) {
    await console.log('Hide')
    // `event` is the native DOM event
    window.setInterval(() => {
      this.erro = false;
    }, 5000)
  },

  methods: {
    async login(){
      try{
      const {data} = await this.$axios.post('api/auth/login', {
        email: this.user.email,
        password: this.user.password,
        device_name: 'web',
      })
        this.$store.commit('setSelectedJson', data)
        await this.$router.push('/home')
      }
      catch(e){
        this.erro = e
        console.log(e)
      }
    }
  }
}
</script>
