<template>
  <v-data-table
    :headers="headers"
    :items="posts"
    sort-by="id"
    class="elevation-1"
    :loading="loading"
  >
    <template #top>
      <v-toolbar
        flat
      >
        <v-toolbar-title>Gerenciar Posts</v-toolbar-title>
        <v-divider
          class="mx-4"
          inset
          vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
          v-model="dialog"
          max-width="500px"
        >
          <template #activator="{ on, attrs }">
            <v-btn
              color="primary"
              dark
              class="mb-2"
              v-bind="attrs"
              v-on="on"
            >
              novo post
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="text-h5">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.employee_id"
                      label="ID do autor"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.description"
                      label="Descrição"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-text-field
                      v-model="editedItem.date"
                      label="Data"
                    ></v-text-field>
                  </v-col>
                  <v-col
                    cols="12"
                    sm="6"
                    md="4"
                  >
                    <v-file-input
                      show-size
                      label="Foto"
                      accept="image/*"
                      @change="selectImage"
                    ></v-file-input>
                  </v-col>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                color="blue darken-1"
                text
                @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                color="blue darken-1"
                text
                @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="600px">
          <v-card>
            <v-card-title class="text-h5">Tem certeza que deseja deletar esse item?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template #[`item.visualize`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click=redirect(item)
      >
        mdi-eye
      </v-icon>
    </template>
    <template #[`item.actions`]="{ item }">
      <v-icon
        small
        class="mr-2"
        @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
        small
        @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template #no-data>
      <v-btn
        color="primary"
        @click="initialize"
      >
        Reset
      </v-btn>
    </template>
  </v-data-table>
</template>

<script>
export default {
  name: "PostsPages",
  data: () => ({
    dialog: false,
    dialogDelete: false,
    loading: true,
    error: false,
    headers: [
      {
        text: 'ID',
        align: 'start',
        value: 'id',
      },
      { text: 'ID do autor', value: 'employee_id' },
      { text: 'Descrição', value: 'description' },
      { text: 'Data', value: 'date'},
      { text: 'Foto', value: 'visualize', sortable: false },
      { text: 'Ações', value: 'actions', sortable: false },
    ],
    posts: [],
    editedIndex: -1,
    editedItem: {
      employee_id: '',
      description: '',
      date: '',
      photo: ''
    },
    defaultItem: {
      employee_id: '',
      description: '',
      date: '',
      photo: ''
    },
  }),
  computed: {
    formTitle () {
      return this.editedIndex === -1 ? 'Novo Post' : 'Editar Post'
    },
  },
  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },
  created () {
    this.initialize()
  },
  methods: {
    async initialize () {
      try{
        this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        const {data} = await this.$axios.get('api/post')
        if (data.length){
          this.posts = data
        }else if (data.length === 0){
          this.posts = []
        }else{
          this.posts = {data}
        }
        this.loading = false
      }
      catch(e){
        this.errorr = e
        // await this.$router.push('/')
      }
    },
    selectImage(image){
      this.editedItem.photo = image;
    },

    editItem (item) {
      this.editedIndex = this.posts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialog = true
    },
    deleteItem (item) {
      this.editedIndex = this.posts.indexOf(item)
      this.editedItem = Object.assign({}, item)
      this.dialogDelete = true
    },
    async deleteItemConfirm () {
      this.posts.splice(this.editedIndex, 1)
      try{
        await this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
        await this.$axios.delete('api/post/' + this.editedItem.id)
      }
      catch(e){
        this.errorr = e
        this.errorr = true
        window.setInterval(() => {
          this.errorr = false;
        }, 5000)
      }
      this.closeDelete()
    },
    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },
    async save () {
      if (this.editedIndex > -1) {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const formData = new FormData();
          formData.append("photo", this.editedItem.photo);
          formData.append('employee_id', this.editedItem.employee_id);
          formData.append('description', this.editedItem.description);
          formData.append('date', this.editedItem.date);
          formData.append('_method', 'patch');
          const response = await this.$axios.post('api/post/' + this.editedItem.id, formData, {
            headers: {
              'Content-Type': 'multipart/form-data',
            }})
          Object.assign(this.posts[this.editedIndex], response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      } else {
        try{
          this.$axios.setToken(this.$store.getters.getSelectedJson, "Bearer")
          const formData = new FormData();
          formData.append("photo", this.editedItem.photo);
          formData.append('employee_id', this.editedItem.employee_id);
          formData.append('description', this.editedItem.description);
          formData.append('date', this.editedItem.date);
          const response = await this.$axios.post('api/post', formData)
          this.posts.push(response.data)
        }
        catch(e){
          this.error = e
          console.log(e)
          this.error = true
        }
      }
      this.close()
    },
    async redirect(item) {
      await console.log(item)
      if (item.photo !== null){
        window.open('http://159.203.189.157/storage/'+ item.photo);
      }
    },
  },
}
</script>
